<!doctype html>
<html class="default no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{#ifCond model.name '==' project.name}}{{project.name}}{{else}}{{model.name}} | {{project.name}}{{/ifCond}}</title>
    <meta name="description" content="Documentation for {{project.name}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{relativeURL "assets/css/main.css"}}">
    <script async src="{{relativeURL "assets/js/search.js"}}" id="search-script"></script>
</head>
<body>

{{> header}}

<div class="container container-main" style="margin: 0; padding: 0; max-width: 1300px;">
    <div class="row">
        <div class="col-3 col-menu menu-sticky-wrap menu-highlight" style='margin-top: 3rem'>
            <nav class="tsd-navigation primary">
                <ul>
                    {{#each navigation.children}}
                        {{> navigation}}
                    {{/each}}
                </ul>
            </nav>

            <nav class="tsd-navigation secondary menu-sticky">
                <ul class="before-current">
                    {{#each toc.children}}
                        {{> toc.root}}
                    {{/each}}
                </ul>
            </nav>
        </div>
        <div class="col-9 col-content" style="margin-top: 3rem;">
            {{{contents}}}
        </div>
    </div>
</div>

{{> footer}}

<div class="overlay"></div>
<script src="{{relativeURL "assets/js/main.js"}}"></script>

{{> analytics}}

</body>
</html>
<style>
    .tsd-navigation.secondary.tsd-navigation--toolbar-hide {
        max-height: calc(100vh - 1rem);
        top: 3rem;
    }
</style>